.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 65535px;
  font-family: 'Comfortaa';
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background: #47b170;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
