:root {
  --maxContainerWidth: 768px;
}

.header {
  background: #a6abb1 url("../assets/bgr--header.jpg") top center no-repeat;
  color: #fff;
  background-size: cover;
}

.headerWrapper {
  padding: 17px 0 18px 0;
  min-height: 535px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: block;
  width: 140px;
  height: 34px;
  font-size: 0;
  background: url("../assets/img--logo.svg") left center no-repeat;
}

.mediaLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mediaLinks_header {
  margin: 3px 0 0 auto;
}

.mediaLinks-item {
  & + & {
    margin-left: 17px;
  }
}

.mediaLinks-link {
  display: flex;
  width: 30px;
  height: 30px;
  font-size: 0;
  align-items: center;
  justify-content: center;
}

.icon-facebook {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../assets/icon--facebook.svg");
}

.icon-instagram {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../assets/icon--instagram.svg");
}

.sandwichMenu {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 3px 0 0 23px;
  padding: 6px 3px;
  flex-direction: column;
  justify-content: space-between;
}

.sandwichMenu-bar {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.headerTitle {
  font-family: 'Comfortaa';
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 35px 0 30px 0;
}

.headerMenu {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 22px 0;
}

.headerMenu-item {
  display: block;

  & + & {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.headerMenu-link {
  display: block;
  color: #ffee33;
  font-family: 'Comfortaa';
  font-size: 16px;
  line-height: 18px;
  padding: 13px 10px;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    right: 12px;
    margin: auto;
    background-color: rgba(255, 238, 51, 0.6);
  }
}

.headerPhone {
  font-family: 'Comfortaa';
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.headerCallButton {
  display: block;
  border-radius: 65536px;
  background: #ffffff;
  border: 1px solid transparent;
  font-family: 'Comfortaa';
  color: #21a654;
  text-decoration: none;
  width: 140px;
  height: 46px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 10px;
}

.header--inner {
  .headerWrapper {
    height: auto;
    min-height: 0;
  }
}

@media screen and (min-width: 769px) {
  .header {
    background-image: url("../assets/bgr--header--wide.jpg");
  }
}



